
.header {
    background-color: sandybrown;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
}

.header-welcome {
    font-size: 50px;
    color: rgb(181, 34, 102);
    height: fit-content;
    padding: 15px;

}

.nav {
    border: 3px solid rgb(218, 95, 95);
    display: flex;
    flex-direction: row;  
    margin: 1px;
}
.nav-item {
    color: purple;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
}
#home {
    display: block;
    position: absolute;
    top: 260px;
    margin: 10px;
    z-index: -10;
}
.loader {
    position: relative;
    top: 260px;
    z-index: +1;
}

#articles {
    display: flex;
    position:absolute;
    top: 260px;
    z-index: -10;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}
.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.article-heading {
    display: flex;
    text-decoration: underline;
    font-size: 20px;
    border: none;
    background-color: white;
    font-weight: 600;
    color: rgb(68, 38, 241);
}
.article-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rating {
    display: inline-flex;
}
.vote { 
    width: 150px;
    height: 50px;
    display: inline-flex;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: rgb(202, 223, 232);
    border-radius: 5%;
}
.vote-section {
    display: inline-flex;
}

.vote-count {
    padding: 10px 15px 10px 10px;
    font-size: 20px;

}

.down-vote {
    display: inline-flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}
.up-vote {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.delete-button {
    margin-left: 60px;
    background-color: rgb(141, 166, 189);
}

.delete-button:hover {
    background-color: red;
    color:white;
}
.comments-button{
    display: inline-flex;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid black;
    color: blue;
    background-color: rgb(202, 223, 232);
    align-items: center;
    justify-content: center;
    border-radius: 2%;
} 
.comments-button:hover {
    background-color: rgb(106, 180, 209);
    color: white;
}
.comment-add-button {
    width: fit-content;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
.single-article-container {
    display: block;
    position:absolute;
    top: 260px;
    z-index: -10;
    align-items:first baseline;
    margin: 16px;


}
.single-article-img {
    padding: 20px;
}
.vote-section {
    display: flex;
    flex-direction: column;
}
.comment-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 4px solid rgb(93, 93, 228);
    background-color:  rgb(106, 180, 209);
    height: 500px;
    border-radius: 20px;
    overflow: scroll;
}

.comment-list {
    margin: 0px;
}
.comment-body-container {
    border-radius: 20px;
    font-size: 16px;
    margin-top:10px;
    color: black;
}
.comment-container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.comment-body-item {
    padding: 4px;
    
}
.comment-box {
    font-size: 18px;
    background-color: rgb(203, 187, 187);
    height: 100px;
    overflow: scroll;
    width: 100%;
    border-radius: 20px;
}
.comment-box:hover {
    background-color: white;
}
.submit-button {
    position: relative;
    bottom: 8px;
    left: 90%;
}
.comment-heading {
    color: rgb(51, 1, 255);
}
.comment-items {
    margin: 10px;
    padding: 10px;
}
.grey {
    color: rgb(107, 86, 86);
}

.button-vote {
    background-color: none;
    border: none;
    border-radius: 50%;
}
.button-vote:hover {
    background-color: grey;
    color: white;
}

#users {
    border: 10px solid blue;
    border-radius: 50px;
    background-color: rgb(135, 175, 210);
    display: block;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 260px;
    z-index: -10;
}

.user {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 200px;
    margin: 50px;
    border: 3px solid green;
    background-color: pink;
    border-radius: 20px;
    list-style-type: none;

}
.user-items {
    padding: 10px;
    margin: 10px;
    align-content: center;
}
.user-button {
    background-color: rgb(45, 45, 179);
    color: white;

}
.user-button:hover {
    background-color: rgb(205, 37, 65);
}
.log-in-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logged-in-img {
    height: 70px;
    margin-bottom: 6px;
    width: 70px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 2px;
    background-color: white;
    align-self: center;
}
.logged-in-user {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 47, 255);
}
.err-msg {
    color: red;
}

#topics {
    border-radius: 50px;
    background-color: rgb(93, 207, 207);
    display: block;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 250px;
    z-index: -10;
}
.topic-header {
    font-size: 35px;
    margin: 20px;
    font-weight: 500;
}
.topics-list {
   display: flex;
   align-items: center;
   margin-top: 10%;
   justify-content: center;
   width: 100%;
   color: blue;

}
.topic-container {
    border: 4px solid green;
    background-color: rgb(161, 209, 161);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 400px;
    height: 200px;
    margin-right: 20px;
}
/* .topic-container:hover {
    background-color: rgb(211, 138, 69);
} */
.topic-item {
    padding: 20px;
    align-self: center;

}
.topic-slug {
    font-size: 25px;
}
.topic-desc {
    font-size: 18px;
    color: black;
}
.topic-button {
    border-radius: 30px;
    background-color: rgb(109, 109, 232);
    border: 4px solid rgb(55, 43, 223);
    color: white;
    text-align: center;
    width: fit-content;
}
.topic-button:hover {
    background-color: rgb(213, 68, 68);
    border: 4px solid blue;
    color: white;
}

.error-page {
    position: absolute;
    top: 260px;
    margin: 10px;
}
.error-paragraph {
    color: black;
    font-size: 18px;
}
.sort-articles {
   margin-top: 10px;
   margin-left: 50%;
   font-size: 18px;
}
.red {
    font-family: Arial;
    background-color: rgb(225, 210, 210);
    width: 300px;
    color: red;
    text-align: center;
}