.header {
    background-color: sandybrown;
    text-align: left;
    position: fixed;
    width: 150vw;
    margin-bottom: 10px;
}

.header-welcome {
    color: rgb(181, 34, 102);
    height: fit-content;
    padding: 15px;

}

.nav {
    border: 3px solid rgb(218, 95, 95);
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
    margin: 1px;
}
.nav-item {
    color: purple;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
}
#home {
    display: block;
    position: absolute;
    top: 140px;
    margin: 10px;
    z-index: -10;
}

#articles {
    display: flex;
    position:absolute;
    top: 140px;
    z-index: -10;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}
.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.article-heading {
    display: flex;
    text-decoration: underline;
    font-size: 20px;
    border: none;
    background-color: white;
    font-weight: 600;
    color: rgb(68, 38, 241);
}
.article-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rating {
    display: inline-flex;
}
.vote { 
    width: fit-content;
    background-color: aliceblue;
    border: 1px solid blue;
    border-radius: 5%;
}
.vote-section-item {
   padding: 2px;

}

.down-vote {
    display: inline-flex;
    padding-right: 10px;
}
.up-vote {
    display: inline-flex;
}
.comments {
    display: inline-flex;

} 
.single-article-container {
    display: block;
    position:absolute;
    top: 140px;
    z-index: -10;
    align-items:first baseline;
    margin: 5px;


}
.single-article-img {
    padding: 20px;
}